[submodule "include/git-meld"]
	path = include/git-meld
	url = git://github.com/wmanley/git-meld.git
[submodule "include/hcl"]
	path = include/hcl
	url = git://github.com/zenhob/hcl.git
[submodule "include/drush"]
	path = include/drush
	url = http://git.drupal.org/project/drush.git
[submodule "include/deph"]
	path = include/deph
	url = git@bitbucket.org:domain7/deph.git
[submodule "include/avahi-aliases"]
	path = include/avahi-aliases
	url = git@github.com:ahawthorne/avahi-aliases.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
