[color]
  branch = auto
  diff = auto
  status = auto
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
  name = Andrew Hawthorne
  email = andrew@domain7.com
  signingkey = 4B372969
[gui]
  recentrepo = /var/www/dev/eyd
  historybrowser = gitg
[merge]
  tool = meld
[diff]
  tool = meld
[core]
  editor = vim
  autocrlf = input
[instaweb]
  local = false
  httpd = httpd -f
  port = 1234
  browser = google-chrome
  modulepath = /etc/httpd/modules

